#chapters label {
	float:left;
	display: block;
	width:150px;
}
#chapters span a{
	display:block;
	border:solid 1px #333;
	float:left;
	padding:5px;
	margin-right:10px;
	text-decoration: none;
	background-color: #333399;
	color:#fff;
}
.verse {
	margin-left:5px;
	margin-right:5px;
}
.verse-number{
	margin-left:5px;
	margin-right:5px;
	font-weight:bold;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */